# Simulation dependencies, using the CUDA environment above.
robosuite==1.4.0
mujoco==3.3.2
bddl==1.0.1
robomimic==0.2.0
gym==0.25.2
easydict==1.9
cloudpickle==2.1.0
future==0.18.2
h5py==3.14.0
numba==0.61.2
